:root {
    /* accent color */
    --yellow-color: #fce473;
    /* border color of container*/
    --container-border-color: var(--yellow-color);
    /* background color */
    --AnnotationLabel--background-color: var(--yellow-color);
}
