:root {
    --App--max-width: 1200px;
}

.App {
    margin: 1rem auto;
    max-width: var(--App--max-width);
}

.App-container {
    margin: 1rem auto;
    border: 1px solid var(--container-border-color);
}

.App-InputForm {
    margin-bottom: 1rem;
}

.App-Analyzed {
    margin-bottom: 1rem;
}
